body{
  background-image: linear-gradient(to bottom, lightgreen, lightpink,lavender );
  height: 100vh;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MyShow{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 45vh;
}
.my{
  color: honeydew;
}
.single{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px dashed khaki;
  height: 38vh;
}
.FirstLeft{
  width: 48%;
}
.FirstRight{
  width: 48%;
}
.head{
  text-align: center;
}
.btn{
  background-color: skyblue;
  width: 150px;
  padding: 6px 3px;
  font-size: 1.1rem;
  color: yellow;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  
}
#mac{
  color: purple;
}
#mac1{
  color: rosybrown;
}
#mac2{
  color: lime;
}
